<html lang="en">
<head>
        <style>
                .buttonSubmit {
                    display: none;
                }
            </style> 
            <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Hexaware R&D Lab">
    <!-- <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,600">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="js/jqbtk.min.css">
    <link rel="shortcut icon" href="images/logo.ico"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Hexaware Temporary ID</title>
   
    <script ="javascript/text">
       function Redirect() {
           window.location="http://localhost:3000";
          }  
          // document.write("You will be redirected to main page in 10 sec.");
          setTimeout('Redirect()', 20000);     
    
    // function submitData(){
     
     
    //   document.getElementById('submitPhoto').click(); 
    // }
    </script>

</head>

<body data-spy="scroll" data-target=".navbar" class="has-loading-screen" onload="setTimeout(function() { submitform() }, 5000)">
        <div class="ts-page-wrapper" id="page-top">

    <!--*********************************************************************************************************-->
        <!--************ HERO ***************************************************************************************-->
        <!--*********************************************************************************************************-->
        <header id="ts-hero" class="d-block py-5 ts-separate-bg-element" data-bg-image="images/background.jpg" data-bg-parallax="scroll" data-bg-parallax-speed="3" data-mask-bottom-wn-color="#fff">
          
    
         <!--HERO CONTENT ****************************************************************************************-->

         <div class="container align-self-center py-5"  >
                <div class="align-items-center text-center">
                  <div class="text-center" >
                   
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
            <h3>Oops  it looks like your data is not available.</h3>
            <h3>Or  you are not an active employee of hexaware ,Please contact admin for further process</h3>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

        </div>
    </div>
</div>
</header>
<!--end #hero-->

<!--*********************************************************************************************************-->
<!--************ CONTENT ************************************************************************************-->
<!--*********************************************************************************************************-->
<main id="ts-content">


</main>
<!--end #content-->

<!--*********************************************************************************************************-->
<!--************ FOOTER *************************************************************************************-->
<!--*********************************************************************************************************-->

<footer id="ts-footer">
        <div class="p-4 ts-block text-center">
                <div class="text-center py-5">
                    <div  data-toggle="tooltip" data-placement="bottom" title="Go to home page">
  
                        <!-- <input type="submit" class="fa fa-home"style="color:yellow" value=""/> -->
                        <a href ="/" class="fa fa-home fa-2x" style="color:black"></a>
                    
                    </div>
                <div class="container">                        
                       <small>© 2018 Hexaware Technologies, All Rights Reserved</small>
                           <br>
                           <small>Powered by Innovation Lab</small>
        </div>
        <!--end container-->
    </div>
    </div>
    <!--end ts-block-->
</footer>
<!--end #footer-->
<div class ="fixed-bottom" align="right">
    <h6 >Build no : <%=pjson.version%></h6>
    </div>
</div>
<!--end page-->


<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/imagesloaded.pkgd.min.js"></script>
<!--<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyBEDfNcQRmKQEyulDN8nGWjLYPm8s4YB58"></script>-->
<script src="assets/js/isInViewport.jquery.js"></script>
<script src="assets/js/jquery.particleground.min.js"></script>
<script src="assets/js/scrolla.jquery.min.js"></script>
<!--<script src="assets/js/owl.carousel.min.js"></script>-->
<!--<script src="assets/js/jquery.countdown.min.js"></script>-->
<!--<script src="assets/js/jquery.validate.min.js"></script>-->
<!--<script src="assets/js/jquery-validate.bootstrap-tooltip.min.js"></script>-->
<script src="assets/js/custom.js"></script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> -->
<script src="js/jqbtk.min.js"></script>


</body>
</html>